<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TALogin</servlet-name>
        <servlet-class>Action.TALogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataUpload</servlet-name>
        <servlet-class>Action.DataUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TALogin</servlet-name>
        <url-pattern>/taLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CSPLogin</servlet-name>
        <servlet-class>Action.CSPLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSPLogin</servlet-name>
        <url-pattern>/cspLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProxySignin</servlet-name>
        <servlet-class>Action.ProxyLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxySignin</servlet-name>
        <url-pattern>/proxyLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DOsignup</servlet-name>
        <servlet-class>Action.DORegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DOsignup</servlet-name>
        <url-pattern>/doReg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DUsignup</servlet-name>
        <servlet-class>Action.DURegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DUsignup</servlet-name>
        <url-pattern>/duReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataUpload</servlet-name>
        <url-pattern>/DataUpload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
</web-app>
